In [7]:
import requests
import pandas as pd
import io
import csv
url = 'https://geocoding.geo.census.gov/geocoder/geographies/addressbatch'
files = {'addressFile': ('C:\TEMP\ADDRESS_SAMPLE.csv', open('C:\TEMP\ADDRESS_SAMPLE.csv', 'rb'), 'text/csv')}
payload = {'benchmark':'Public_AR_Current','vintage':'Current_Current'}
s = requests.post(url, files=files, data=payload)

In [2]:
type(s)

requests.models.Response

In [8]:
df = pd.read_csv(io.StringIO(s.text), sep=',', header=None, quoting=csv.QUOTE_ALL)
with pd.option_context(
    'display.width', None, 
    'display.max_columns', None,
    'display.max_colwidth', -1,
    'display.colheader_justify', 'left'):
    print(df)

   0  1                                                    2          \
0  1   1600 Pennsylvania Avenue NW,  Washington, DC, 20500  Match
1  2   4 S Market St, Boston, MA, 02109                     Match
2  3   1200 Getty Center Drive, Los Angeles, CA, 90049      Match
3  4   1800 Congress Ave, Austin, TX, 78701                 Match
4  5   1 Caesars Palace Drive, Las Vegas, NV, 89109         No_Match
5  6   1060 West Addison, Chicago, IL, 60613                Match
6  7   1 East 161st Street, Bronx, NY, 10451                Match
7  8   201 E Jefferson St, Phoenix, AZ, 85004               Match
8  9   600 N 1st Ave, Minneapolis, MN, 55403                No_Match
9  10  400 W Church St, Orlando, FL, 32801                  Match

  3          4                                                 \
0  Exact      1600 PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500
1  Exact      4 S MARKET ST, BOSTON, MA, 02109
2  Exact      1200 GETTY CENTER DR, LOS ANGELES, CA, 90049
3  Exact      1800 CONGRESS AVE, AUSTIN, TX, 78701
4  NaN        NaN
5  Non_Exact  1060 W ADDISON ST, CHICAGO, IL, 60613
6  Exact      1 E 161ST ST, BRONX, NY, 10451
7  Exact      201 E JEFFERSON ST, PHOENIX, AZ, 85004
8  NaN        NaN
9  Exact      400 W CHURCH ST, ORLANDO, FL, 32801

  5                     6           7     8     9      10        11
0  -77.03535,38.898754  76225813.0   L    11.0  1.0    980000.0  1034.0
1  -71.055626,42.35994  85723841.0   R    25.0  25.0   30302.0   1020.0
2  -118.47564,34.08857  142816014.0  L    6.0   37.0   262302.0  1002.0
3  -97.73847,30.279745  63946318.0   L    48.0  453.0  700.0     1006.0
4  NaN                 NaN           NaN NaN   NaN    NaN       NaN
5  -87.65581,41.947227  111863716.0  R    17.0  31.0   61100.0   1008.0
6  -73.928444,40.82916  640809619.0  R    36.0  5.0    6302.0    1003.0
7  -112.07114,33.44675  128300920.0  L    4.0   13.0   114100.0  1057.0
8  NaN                 NaN           NaN NaN   NaN    NaN       NaN
9  -81.38436,28.540176  94416807.0   L    12.0  95.0   10500.0   1001.0

In [9]:
df.columns = ['ID', 'ADDRESS_IN', 'MATCH_INDICATOR', 'MATCH_TYPE', 'ADDRESS_OUT', 'LONG_LAT', 'TIGER_EDGE', 'STREET_SIDE', 'FIPS_STATE', 'FIPS_COUNTY', 'CENSUS_TRACT', 'CENSUS_BLOCK']

In [10]:
print(df)

   ID                                         ADDRESS_IN MATCH_INDICATOR  \
0   1  1600 Pennsylvania Avenue NW,  Washington, DC, ...           Match
1   2                   4 S Market St, Boston, MA, 02109           Match
2   3    1200 Getty Center Drive, Los Angeles, CA, 90049           Match
3   4               1800 Congress Ave, Austin, TX, 78701           Match
4   5       1 Caesars Palace Drive, Las Vegas, NV, 89109        No_Match
5   6              1060 West Addison, Chicago, IL, 60613           Match
6   7              1 East 161st Street, Bronx, NY, 10451           Match
7   8             201 E Jefferson St, Phoenix, AZ, 85004           Match
8   9              600 N 1st Ave, Minneapolis, MN, 55403        No_Match
9  10                400 W Church St, Orlando, FL, 32801           Match

  MATCH_TYPE                                      ADDRESS_OUT  \
0      Exact  1600 PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500
1      Exact                 4 S MARKET ST, BOSTON, MA, 02109
2      Exact     1200 GETTY CENTER DR, LOS ANGELES, CA, 90049
3      Exact             1800 CONGRESS AVE, AUSTIN, TX, 78701
4        NaN                                              NaN
5  Non_Exact            1060 W ADDISON ST, CHICAGO, IL, 60613
6      Exact                   1 E 161ST ST, BRONX, NY, 10451
7      Exact           201 E JEFFERSON ST, PHOENIX, AZ, 85004
8        NaN                                              NaN
9      Exact              400 W CHURCH ST, ORLANDO, FL, 32801

              LONG_LAT   TIGER_EDGE STREET_SIDE  FIPS_STATE  FIPS_COUNTY  \
0  -77.03535,38.898754   76225813.0           L        11.0          1.0
1  -71.055626,42.35994   85723841.0           R        25.0         25.0
2  -118.47564,34.08857  142816014.0           L         6.0         37.0
3  -97.73847,30.279745   63946318.0           L        48.0        453.0
4                  NaN          NaN         NaN         NaN          NaN
5  -87.65581,41.947227  111863716.0           R        17.0         31.0
6  -73.928444,40.82916  640809619.0           R        36.0          5.0
7  -112.07114,33.44675  128300920.0           L         4.0         13.0
8                  NaN          NaN         NaN         NaN          NaN
9  -81.38436,28.540176   94416807.0           L        12.0         95.0

   CENSUS_TRACT  CENSUS_BLOCK
0      980000.0        1034.0
1       30302.0        1020.0
2      262302.0        1002.0
3         700.0        1006.0
4           NaN           NaN
5       61100.0        1008.0
6        6302.0        1003.0
7      114100.0        1057.0
8           NaN           NaN
9       10500.0        1001.0

In [6]:
type(df)

pandas.core.frame.DataFrame