In [1]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (2.28.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (from requests) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (from requests) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (from requests) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/askarulis/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install io

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement io (from versions: none)
ERROR: No matching distribution found for io
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install csv

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement csv (from versions: none)
ERROR: No matching distribution found for csv
Note: you may need to restart the kernel to use updated packages.

In [ ]:
/Users/askarulis/Documents/geocode/geocode_greennumbers/ADDRESS_SAMPLE.csv

In [13]:
import requests
import pandas as pd
import io
import csv
url = 'https://geocoding.geo.census.gov/geocoder/geographies/addressbatch'
files = {'addressFile': ('/Users/askarulis/Documents/geocode/geocode_greennumbers/ADDRESS_SAMPLE.csv', open('/Users/askarulis/Documents/geocode/geocode_greennumbers/ADDRESS_SAMPLE.csv', 'rb'), 'text/csv')}
payload = {'benchmark':'Public_AR_Current','vintage':'Current_Current'}
s = requests.post(url, files=files, data=payload)

In [14]:
type(s)

requests.models.Response

In [15]:
df = pd.read_csv(io.StringIO(s.text), sep=',', header=None, quoting=csv.QUOTE_ALL)
with pd.option_context(
    'display.width', None, 
    'display.max_columns', None,
    'display.max_colwidth', -1,
    'display.colheader_justify', 'left'):
    print(df)

    0  1                                                    2          \
0   11  2501 W Dry Creek Ct, Littleton, CO, 80120            Match
1   1   1600 Pennsylvania Avenue NW,  Washington, DC, 20500  Match
2   2   4 S Market St, Boston, MA, 02109                     Match
3   3   1200 Getty Center Drive, Los Angeles, CA, 90049      Match
4   4   1800 Congress Ave, Austin, TX, 78701                 Match
5   5   1 Caesars Palace Drive, Las Vegas, NV, 89109         No_Match
6   6   1060 West Addison, Chicago, IL, 60613                Match
7   7   1 East 161st Street, Bronx, NY, 10451                Match
8   8   201 E Jefferson St, Phoenix, AZ, 85004               Match
9   9   600 N 1st Ave, Minneapolis, MN, 55403                Match
10  10  400 W Church St, Orlando, FL, 32801                  Match

   3          4                                                 \
0   Exact      2501 W DRY CREEK CT, LITTLETON, CO, 80120
1   Exact      1600 PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500
2   Exact      4 S MARKET ST, BOSTON, MA, 02109
3   Exact      1200 GETTY CENTER DR, LOS ANGELES, CA, 90049
4   Exact      1800 CONGRESS AVE, AUSTIN, TX, 78701
5   NaN        NaN
6   Non_Exact  1060 W ADDISON ST, CHICAGO, IL, 60613
7   Exact      1 E 161ST ST, BRONX, NY, 10451
8   Exact      201 E JEFFERSON ST, PHOENIX, AZ, 85004
9   Non_Exact  600 1ST AVE N, MINNEAPOLIS, MN, 55403
10  Exact      400 W CHURCH ST, ORLANDO, FL, 32801

   5                                       6           7     8     9      \
0   -105.02108258699997,39.58019507500006  177519839.0  R    8.0   5.0
1   -77.03654072899997,38.89874352700008   76225813.0   L    11.0  1.0
2   -71.05565386699993,42.35993056700005   85723841.0   R    25.0  25.0
3   -118.47563807999995,34.08856916600007  142816014.0  L    6.0   37.0
4   -97.73847296199995,30.279745125000034  63946318.0   L    48.0  453.0
5   NaN                                   NaN           NaN NaN   NaN
6   -87.65612803199997,41.94722339700007   111863716.0  R    17.0  31.0
7   -73.92843833299997,40.82916056200003   640809619.0  R    36.0  5.0
8   -112.07058944399995,33.44657476500004  128300920.0  L    4.0   13.0
9   -93.27494909199999,44.97956515800007   43631633.0   R    27.0  53.0
10  -81.38395804399994,28.540177980000067  94416807.0   L    12.0  95.0

    10        11
0   5623.0    1012.0
1   980000.0  1034.0
2   30302.0   1020.0
3   262302.0  1002.0
4   700.0     1006.0
5  NaN       NaN
6   61100.0   1008.0
7   6302.0    1003.0
8   114100.0  1057.0
9   126102.0  5015.0
10  10500.0   1001.0

In [16]:
df.columns = ['ID', 'ADDRESS_IN', 'MATCH_INDICATOR', 'MATCH_TYPE', 'ADDRESS_OUT', 'LONG_LAT', 'TIGER_EDGE', 'STREET_SIDE', 'FIPS_STATE', 'FIPS_COUNTY', 'CENSUS_TRACT', 'CENSUS_BLOCK']

In [17]:
print(df)

    ID                                         ADDRESS_IN MATCH_INDICATOR  \
0   11          2501 W Dry Creek Ct, Littleton, CO, 80120           Match
1    1  1600 Pennsylvania Avenue NW,  Washington, DC, ...           Match
2    2                   4 S Market St, Boston, MA, 02109           Match
3    3    1200 Getty Center Drive, Los Angeles, CA, 90049           Match
4    4               1800 Congress Ave, Austin, TX, 78701           Match
5    5       1 Caesars Palace Drive, Las Vegas, NV, 89109        No_Match
6    6              1060 West Addison, Chicago, IL, 60613           Match
7    7              1 East 161st Street, Bronx, NY, 10451           Match
8    8             201 E Jefferson St, Phoenix, AZ, 85004           Match
9    9              600 N 1st Ave, Minneapolis, MN, 55403           Match
10  10                400 W Church St, Orlando, FL, 32801           Match

   MATCH_TYPE                                      ADDRESS_OUT  \
0       Exact        2501 W DRY CREEK CT, LITTLETON, CO, 80120
1       Exact  1600 PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500
2       Exact                 4 S MARKET ST, BOSTON, MA, 02109
3       Exact     1200 GETTY CENTER DR, LOS ANGELES, CA, 90049
4       Exact             1800 CONGRESS AVE, AUSTIN, TX, 78701
5         NaN                                              NaN
6   Non_Exact            1060 W ADDISON ST, CHICAGO, IL, 60613
7       Exact                   1 E 161ST ST, BRONX, NY, 10451
8       Exact           201 E JEFFERSON ST, PHOENIX, AZ, 85004
9   Non_Exact            600 1ST AVE N, MINNEAPOLIS, MN, 55403
10      Exact              400 W CHURCH ST, ORLANDO, FL, 32801

                                 LONG_LAT   TIGER_EDGE STREET_SIDE  \
0   -105.02108258699997,39.58019507500006  177519839.0           R
1    -77.03654072899997,38.89874352700008   76225813.0           L
2    -71.05565386699993,42.35993056700005   85723841.0           R
3   -118.47563807999995,34.08856916600007  142816014.0           L
4   -97.73847296199995,30.279745125000034   63946318.0           L
5                                     NaN          NaN         NaN
6    -87.65612803199997,41.94722339700007  111863716.0           R
7    -73.92843833299997,40.82916056200003  640809619.0           R
8   -112.07058944399995,33.44657476500004  128300920.0           L
9    -93.27494909199999,44.97956515800007   43631633.0           R
10  -81.38395804399994,28.540177980000067   94416807.0           L

    FIPS_STATE  FIPS_COUNTY  CENSUS_TRACT  CENSUS_BLOCK
0          8.0          5.0        5623.0        1012.0
1         11.0          1.0      980000.0        1034.0
2         25.0         25.0       30302.0        1020.0
3          6.0         37.0      262302.0        1002.0
4         48.0        453.0         700.0        1006.0
5          NaN          NaN           NaN           NaN
6         17.0         31.0       61100.0        1008.0
7         36.0          5.0        6302.0        1003.0
8          4.0         13.0      114100.0        1057.0
9         27.0         53.0      126102.0        5015.0
10        12.0         95.0       10500.0        1001.0

In [18]:
type(df)

pandas.core.frame.DataFrame

In [20]:
display(df)

,ID,ADDRESS_IN,MATCH_INDICATOR,MATCH_TYPE,ADDRESS_OUT,LONG_LAT,TIGER_EDGE,STREET_SIDE,FIPS_STATE,FIPS_COUNTY,CENSUS_TRACT,CENSUS_BLOCK
0,11,"2501 W Dry Creek Ct, Littleton, CO, 80120",Match,Exact,"2501 W DRY CREEK CT, LITTLETON, CO, 80120","-105.02108258699997,39.58019507500006",177519839.0,R,8.0,5.0,5623.0,1012.0
1,1,"1600 Pennsylvania Avenue NW, Washington, DC, ...",Match,Exact,"1600 PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500","-77.03654072899997,38.89874352700008",76225813.0,L,11.0,1.0,980000.0,1034.0
2,2,"4 S Market St, Boston, MA, 02109",Match,Exact,"4 S MARKET ST, BOSTON, MA, 02109","-71.05565386699993,42.35993056700005",85723841.0,R,25.0,25.0,30302.0,1020.0
3,3,"1200 Getty Center Drive, Los Angeles, CA, 90049",Match,Exact,"1200 GETTY CENTER DR, LOS ANGELES, CA, 90049","-118.47563807999995,34.08856916600007",142816014.0,L,6.0,37.0,262302.0,1002.0
4,4,"1800 Congress Ave, Austin, TX, 78701",Match,Exact,"1800 CONGRESS AVE, AUSTIN, TX, 78701","-97.73847296199995,30.279745125000034",63946318.0,L,48.0,453.0,700.0,1006.0
5,5,"1 Caesars Palace Drive, Las Vegas, NV, 89109",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,"1060 West Addison, Chicago, IL, 60613",Match,Non_Exact,"1060 W ADDISON ST, CHICAGO, IL, 60613","-87.65612803199997,41.94722339700007",111863716.0,R,17.0,31.0,61100.0,1008.0
7,7,"1 East 161st Street, Bronx, NY, 10451",Match,Exact,"1 E 161ST ST, BRONX, NY, 10451","-73.92843833299997,40.82916056200003",640809619.0,R,36.0,5.0,6302.0,1003.0
8,8,"201 E Jefferson St, Phoenix, AZ, 85004",Match,Exact,"201 E JEFFERSON ST, PHOENIX, AZ, 85004","-112.07058944399995,33.44657476500004",128300920.0,L,4.0,13.0,114100.0,1057.0
9,9,"600 N 1st Ave, Minneapolis, MN, 55403",Match,Non_Exact,"600 1ST AVE N, MINNEAPOLIS, MN, 55403","-93.27494909199999,44.97956515800007",43631633.0,R,27.0,53.0,126102.0,5015.0
10,10,"400 W Church St, Orlando, FL, 32801",Match,Exact,"400 W CHURCH ST, ORLANDO, FL, 32801","-81.38395804399994,28.540177980000067",94416807.0,L,12.0,95.0,10500.0,1001.0